<!-- footer -->
<section class="footer">
  <div class="row mhn mvxxl txt-c">
    <%= link_to 'https://docs.cloudfoundry.org/devguide/', target: '_blank' do %>
      <%= image_tag 'cloud-foundry.svg', width: 28, alt: 'Cloud Foundry', title: 'Cloud Foundry' %>
      <br/>
      <span class="txt-c small type-neutral-4">
        This is a Cloud Foundry sample application.
      </span>
    <% end %>
    <div data-ping="ping" style="display:none;"></div>
  </div>
</section>
