<!-- header -->
<div class='row man'>
  <div class='col-xs-24 col-sm-24 col-md-24 col-lg-24 mvxxl txt-c'>
    <%= link_to 'https://cloudfoundry.org', target: '_blank' do %>
      <%= image_tag 'the-rabbit.svg', width: 52, class: 'txt-m', alt: 'Cloud Foundry', title: 'Cloud Foundry' %>
    <% end %>
    <span class='h1 em-high txt-m mhl type-neutral-4'>+</span>
    <%= link_to 'https://ruby-lang.org', target: '_blank' do %>
      <%= image_tag 'ruby_logo.svg', width: 46, class: 'txt-m', alt: 'Ruby', title: 'Ruby' %>
    <% end %>
  </div>
</div>
